@use "~/assets/styles/variables" as v;

.player{
  position: fixed;
  bottom: 62px;
  height: 52px;
  width: calc(100vw - 24px);
  background-color: v.$background;
  z-index: 3;
  margin-inline: 12px;
  padding: 8px;
  border: 1px solid v.$foreground;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div:first-child {
    gap: 12px;
    display: flex;
    align-items: center;
  }

  .progress{
    position: absolute;
    height: 2px;
    width: 40%;
    background-color: v.$accent;
    bottom: 0;
    left: 0;
  }

  .controls{
    display: flex;
    gap: 8px;
    margin-right: 2px;
  }
}