@use "~/assets/styles/variables" as v;

.ascii {
  font-size: 10px;
  color: v.$accent;
}

h1{
  margin-top: 48px;
}

.recently-played {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .title {
    font-size: 20px;
  }

  .songs {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;

    .song {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .title,
      .artist {
        font-size: 14px;
      }

      .artist {
        color: v.$text;
      }
    }
  }
}